.navbar41-wrapper {
  display: contents;
}
.navbar41-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar41-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navbar41-image1 {
  height: 3rem;
}
.navbar41-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar41-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
.navbar41-link11 {
  text-decoration: none;
}
.navbar41-link21 {
  text-decoration: none;
}
.navbar41-link31 {
  text-decoration: none;
}
.navbar41-link41 {
  text-decoration: none;
}
.navbar41-buttons1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
.navbar41-action11 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.navbar41-action21 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.navbar41-burger-menu {
  display: none;
}
.navbar41-icon1 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar41-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar41-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar41-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar41-logo {
  height: 3rem;
}
.navbar41-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar41-icon3 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar41-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navbar41-buttons2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
}
.sign-in-fragment17 {
  display: contents;
}
.sign-in-text17 {
  display: inline-block;
}
.sign-in-fragment16 {
  display: contents;
}
.sign-in-text16 {
  display: inline-block;
}
.sign-in-fragment18 {
  display: contents;
}
.sign-in-text18 {
  display: inline-block;
}
.sign-in-fragment15 {
  display: contents;
}
.sign-in-text15 {
  display: inline-block;
}
.sign-in-fragment14 {
  display: contents;
}
.sign-in-text14 {
  display: inline-block;
}
.sign-in-fragment10 {
  display: contents;
}
.sign-in-text10 {
  display: inline-block;
}
.sign-in-fragment13 {
  display: contents;
}
.sign-in-text13 {
  display: inline-block;
}
.sign-in-fragment11 {
  display: contents;
}
.sign-in-text11 {
  display: inline-block;
}
.sign-in-fragment12 {
  display: contents;
}
.sign-in-text12 {
  display: inline-block;
}
@media(max-width: 767px) {
  .navbar41-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar41-desktop-menu {
    display: none;
  }
  .navbar41-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navbar41-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar41-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.sign-in3-wrapper {
  display: contents;
}
.sign-in3-container1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sign-in3-max-width {
  gap: var(--dl-space-space-twounits);
  width: auto;
  display: flex;
  z-index: 100;
  align-items: center;
  border-radius: var(--dl-radius-radius-cardradius);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.sign-in3-form-root {
  gap: var(--dl-space-space-unit);
  width: 600px;
  height: auto;
  display: flex;
  overflow: hidden;
  max-width: 600px;
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
}
.sign-in3-form1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.sign-in3-text10 {
  align-self: center;
}
.sign-in3-form2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.sign-in3-email {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.sign-in3-textinput1 {
  width: 100%;
  border-color: var(--dl-color-theme-primary1);
  background-color: transparent;
}
.sign-in3-password {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-in3-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.sign-in3-textinput2 {
  width: 100%;
  border-color: var(--dl-color-theme-primary1);
  background-color: transparent;
}
.sign-in3-container3 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.sign-in3-button1 {
  width: 100%;
  align-self: center;
}
.sign-in3-text13 {
  text-align: center;
}
.sign-in3-container4 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sign-in3-divider1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.sign-in3-divider2 {
  flex: 1;
  width: var(--dl-size-size-medium);
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary1);
}
.sign-in3-divider3 {
  flex: 1;
  width: var(--dl-size-size-medium);
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary1);
}
.sign-in3-button2 {
  width: 100%;
  align-self: center;
}
.sign-in3-text15 {
  text-align: center;
}
.sign-in3-button3 {
  width: 100%;
  align-self: center;
}
.sign-in3-text16 {
  text-align: center;
}
.sign-in3-sign-up-image {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
}
.sign-in3-container5 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  bottom: 0px;
  height: 100%;
  display: flex;
  z-index: 10;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(0,0,0,0.4);
}
.sign-in-fragment22 {
  display: contents;
}
.sign-in-text22 {
  display: inline-block;
}
.sign-in-fragment19 {
  display: contents;
}
.sign-in-text19 {
  display: inline-block;
}
.sign-in-fragment21 {
  display: contents;
}
.sign-in-text21 {
  display: inline-block;
}
.sign-in-fragment20 {
  display: contents;
}
.sign-in-text20 {
  display: inline-block;
}
.sign-in-fragment23 {
  display: contents;
}
.sign-in-text23 {
  display: inline-block;
}
@media(max-width: 1600px) {
  .sign-in3-button2 {
    fill: var(--dl-color-theme-secondary1);
    color: var(--dl-color-theme-secondary1);
    background-color: var(--dl-color-theme-primary1);
  }
}
@media(max-width: 991px) {
  .sign-in3-form-root {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .sign-in3-form-root {
    padding: 0px;
  }
  .sign-in3-button1 {
    width: 100%;
  }
  .sign-in3-button2 {
    width: 100%;
  }
  .sign-in3-button3 {
    width: 100%;
  }
}

.footer-wrapper {
  display: contents;
}
.footer-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-content {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(245, 244, 244, 0);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.footer-newsletter {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer-image1 {
  height: 2rem;
}
.footer-text10 {
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}
.footer-text11 {
  text-transform: capitalize;
}
.footer-text12 {
  text-transform: capitalize;
}
.footer-text17 {
  text-decoration: underline;
}
.footer-social-links {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.footer-link {
  display: contents;
}
.footer-icon1 {
  text-decoration: none;
}
.footer-links {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}
.footer-column1 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer-footer-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer-credits {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.sign-in-fragment29 {
  display: contents;
}
.sign-in-text29 {
  display: inline-block;
}
.sign-in-fragment27 {
  display: contents;
}
.sign-in-text27 {
  display: inline-block;
}
.sign-in-fragment24 {
  display: contents;
}
.sign-in-text24 {
  display: inline-block;
}
.sign-in-fragment25 {
  display: contents;
}
.sign-in-text25 {
  display: inline-block;
}
.sign-in-fragment26 {
  display: contents;
}
.sign-in-text26 {
  display: inline-block;
}
.sign-in-fragment28 {
  display: contents;
}
.sign-in-text28 {
  display: inline-block;
}
.sign-in-fragment30 {
  display: contents;
}
.sign-in-text30 {
  display: inline-block;
}
.footerroot-class-name {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
.footerroot-class-name1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
.footerroot-class-name2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
.footerroot-class-name3 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
.footerroot-class-name4 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
.footerroot-class-name5 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
@media(max-width: 991px) {
  .footer-newsletter {
    width: 300px;
  }
}
@media(max-width: 767px) {
  .footer-content {
    flex-direction: column;
  }
  .footer-newsletter {
    width: 100%;
  }
  .footer-social-links {
    align-self: flex-start;
  }
  .footer-links {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .footer-column1 {
    align-items: center;
  }
  .footer-column1-title {
    text-align: center;
  }
  .footer-footer-links {
    align-self: center;
  }
  .footer-row {
    gap: 0;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .footer-social-links {
    align-items: center;
    justify-content: center;
  }
  .footer-links {
    flex-direction: column;
  }
  .footer-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer-footer-links {
    align-items: center;
    justify-content: center;
  }
  .footer-credits {
    gap: 0;
  }
  .footer-row {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    justify-content: center;
  }
}

.sign-in-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.sign-in-fragment10 {
  display: contents;
}
.sign-in-text10 {
  display: inline-block;
}
.sign-in-fragment11 {
  display: contents;
}
.sign-in-text11 {
  display: inline-block;
}
.sign-in-fragment12 {
  display: contents;
}
.sign-in-text12 {
  display: inline-block;
}
.sign-in-fragment13 {
  display: contents;
}
.sign-in-text13 {
  display: inline-block;
}
.sign-in-fragment14 {
  display: contents;
}
.sign-in-text14 {
  display: inline-block;
}
.sign-in-fragment15 {
  display: contents;
}
.sign-in-text15 {
  display: inline-block;
}
.sign-in-fragment16 {
  display: contents;
}
.sign-in-text16 {
  display: inline-block;
}
.sign-in-fragment17 {
  display: contents;
}
.sign-in-text17 {
  display: inline-block;
}
.sign-in-fragment18 {
  display: contents;
}
.sign-in-text18 {
  display: inline-block;
}
.sign-in-fragment19 {
  display: contents;
}
.sign-in-text19 {
  display: inline-block;
}
.sign-in-fragment20 {
  display: contents;
}
.sign-in-text20 {
  display: inline-block;
}
.sign-in-fragment21 {
  display: contents;
}
.sign-in-text21 {
  display: inline-block;
}
.sign-in-fragment22 {
  display: contents;
}
.sign-in-text22 {
  display: inline-block;
}
.sign-in-fragment23 {
  display: contents;
}
.sign-in-text23 {
  display: inline-block;
}
.sign-in-fragment24 {
  display: contents;
}
.sign-in-text24 {
  display: inline-block;
}
.sign-in-fragment25 {
  display: contents;
}
.sign-in-text25 {
  display: inline-block;
}
.sign-in-fragment26 {
  display: contents;
}
.sign-in-text26 {
  display: inline-block;
}
.sign-in-fragment27 {
  display: contents;
}
.sign-in-text27 {
  display: inline-block;
}
.sign-in-fragment28 {
  display: contents;
}
.sign-in-text28 {
  display: inline-block;
}
.sign-in-fragment29 {
  display: contents;
}
.sign-in-text29 {
  display: inline-block;
}
.sign-in-fragment30 {
  display: contents;
}
.sign-in-text30 {
  display: inline-block;
}
