.navbar41-wrapper {
  display: contents;
}
.navbar41-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar41-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navbar41-image1 {
  height: 3rem;
}
.navbar41-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar41-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
.navbar41-link11 {
  text-decoration: none;
}
.navbar41-link21 {
  text-decoration: none;
}
.navbar41-link31 {
  text-decoration: none;
}
.navbar41-link41 {
  text-decoration: none;
}
.navbar41-buttons1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
.navbar41-action11 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.navbar41-action21 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
.navbar41-burger-menu {
  display: none;
}
.navbar41-icon1 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar41-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar41-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar41-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar41-logo {
  height: 3rem;
}
.navbar41-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar41-icon3 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar41-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navbar41-buttons2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
}
.sign-up-fragment17 {
  display: contents;
}
.sign-up-text17 {
  display: inline-block;
}
.sign-up-fragment16 {
  display: contents;
}
.sign-up-text16 {
  display: inline-block;
}
.sign-up-fragment18 {
  display: contents;
}
.sign-up-text18 {
  display: inline-block;
}
.sign-up-fragment15 {
  display: contents;
}
.sign-up-text15 {
  display: inline-block;
}
.sign-up-fragment14 {
  display: contents;
}
.sign-up-text14 {
  display: inline-block;
}
.sign-up-fragment10 {
  display: contents;
}
.sign-up-text10 {
  display: inline-block;
}
.sign-up-fragment13 {
  display: contents;
}
.sign-up-text13 {
  display: inline-block;
}
.sign-up-fragment11 {
  display: contents;
}
.sign-up-text11 {
  display: inline-block;
}
.sign-up-fragment12 {
  display: contents;
}
.sign-up-text12 {
  display: inline-block;
}
@media(max-width: 767px) {
  .navbar41-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar41-desktop-menu {
    display: none;
  }
  .navbar41-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navbar41-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar41-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.sign-up61-wrapper {
  display: contents;
}
.sign-up61-container1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.sign-up61-max-width {
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.sign-up61-container2 {
  width: 50%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.sign-up61-sign-up-image {
  width: 100%;
  height: 100%;
  max-height: 900px;
}
.sign-up61-form-root {
  gap: var(--dl-space-space-unit);
  width: 50%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.sign-up61-container3 {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.sign-up61-text10 {
  align-self: flex-end;
}
.sign-up61-form1 {
  gap: var(--dl-space-space-twounits);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.sign-up61-title-root {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up61-have-an-account-login {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-items: flex-start;
}
.sign-up61-form2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.sign-up61-email {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.sign-up61-textinput1 {
  width: 100%;
  border-color: var(--dl-color-theme-primary1);
  background-color: transparent;
}
.sign-up61-password {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up61-textfield {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.sign-up61-container4 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.sign-up61-hide-password {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.sign-up61-icon1 {
  fill: var(--dl-color-theme-neutral-dark);
  width: 24px;
  height: 24px;
}
.sign-up61-textinput2 {
  width: 100%;
  border-color: var(--dl-color-theme-primary1);
  background-color: transparent;
}
.sign-up61-button1 {
  width: 100%;
}
.sign-up61-text18 {
  text-align: center;
}
.sign-up61-divider1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.sign-up61-divider2 {
  flex: 1;
  width: var(--dl-size-size-medium);
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary1);
}
.sign-up61-divider3 {
  flex: 1;
  width: auto;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary1);
}
.sign-up61-terms-agree {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
}
.sign-up61-container5 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.sign-up61-button2 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
}
.sign-up61-icon3 {
  width: 24px;
  height: 24px;
}
.sign-up-fragment20 {
  display: contents;
}
.sign-up-text20 {
  display: inline-block;
}
.sign-up-fragment19 {
  display: contents;
}
.sign-up-text19 {
  display: inline-block;
}
.sign-up-fragment21 {
  display: contents;
}
.sign-up-text21 {
  display: inline-block;
}
@media(max-width: 991px) {
  .sign-up61-max-width {
    flex-direction: column;
  }
  .sign-up61-container2 {
    width: 100%;
  }
  .sign-up61-sign-up-image {
    max-height: 500px;
  }
  .sign-up61-form-root {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .sign-up61-container3 {
    align-items: center;
  }
}
@media(max-width: 479px) {
  .sign-up61-text10 {
    text-align: center;
  }
  .sign-up61-title-root {
    align-items: center;
  }
  .sign-up61-text11 {
    text-align: center;
  }
  .sign-up61-text12 {
    text-align: center;
  }
  .sign-up61-button1 {
    width: 100%;
  }
  .sign-up61-text20 {
    text-align: center;
  }
}

.footer-wrapper {
  display: contents;
}
.footer-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer-max-width {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-content {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(245, 244, 244, 0);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.footer-newsletter {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer-image1 {
  height: 2rem;
}
.footer-text10 {
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
}
.footer-text11 {
  text-transform: capitalize;
}
.footer-text12 {
  text-transform: capitalize;
}
.footer-text17 {
  text-decoration: underline;
}
.footer-social-links {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
}
.footer-link {
  display: contents;
}
.footer-icon1 {
  text-decoration: none;
}
.footer-links {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
}
.footer-column1 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer-footer-links {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer-credits {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.footer-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.sign-up-fragment27 {
  display: contents;
}
.sign-up-text27 {
  display: inline-block;
}
.sign-up-fragment25 {
  display: contents;
}
.sign-up-text25 {
  display: inline-block;
}
.sign-up-fragment22 {
  display: contents;
}
.sign-up-text22 {
  display: inline-block;
}
.sign-up-fragment23 {
  display: contents;
}
.sign-up-text23 {
  display: inline-block;
}
.sign-up-fragment24 {
  display: contents;
}
.sign-up-text24 {
  display: inline-block;
}
.sign-up-fragment26 {
  display: contents;
}
.sign-up-text26 {
  display: inline-block;
}
.sign-up-fragment28 {
  display: contents;
}
.sign-up-text28 {
  display: inline-block;
}
.footerroot-class-name {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
.footerroot-class-name1 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
.footerroot-class-name2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
.footerroot-class-name3 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
.footerroot-class-name4 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
.footerroot-class-name5 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
@media(max-width: 991px) {
  .footer-newsletter {
    width: 300px;
  }
}
@media(max-width: 767px) {
  .footer-content {
    flex-direction: column;
  }
  .footer-newsletter {
    width: 100%;
  }
  .footer-social-links {
    align-self: flex-start;
  }
  .footer-links {
    width: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  .footer-column1 {
    align-items: center;
  }
  .footer-column1-title {
    text-align: center;
  }
  .footer-footer-links {
    align-self: center;
  }
  .footer-row {
    gap: 0;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .footer-social-links {
    align-items: center;
    justify-content: center;
  }
  .footer-links {
    flex-direction: column;
  }
  .footer-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer-footer-links {
    align-items: center;
    justify-content: center;
  }
  .footer-credits {
    gap: 0;
  }
  .footer-row {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    justify-content: center;
  }
}

.sign-up-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.sign-up-fragment10 {
  display: contents;
}
.sign-up-text10 {
  display: inline-block;
}
.sign-up-fragment11 {
  display: contents;
}
.sign-up-text11 {
  display: inline-block;
}
.sign-up-fragment12 {
  display: contents;
}
.sign-up-text12 {
  display: inline-block;
}
.sign-up-fragment13 {
  display: contents;
}
.sign-up-text13 {
  display: inline-block;
}
.sign-up-fragment14 {
  display: contents;
}
.sign-up-text14 {
  display: inline-block;
}
.sign-up-fragment15 {
  display: contents;
}
.sign-up-text15 {
  display: inline-block;
}
.sign-up-fragment16 {
  display: contents;
}
.sign-up-text16 {
  display: inline-block;
}
.sign-up-fragment17 {
  display: contents;
}
.sign-up-text17 {
  display: inline-block;
}
.sign-up-fragment18 {
  display: contents;
}
.sign-up-text18 {
  display: inline-block;
}
.sign-up-fragment19 {
  display: contents;
}
.sign-up-text19 {
  display: inline-block;
}
.sign-up-fragment20 {
  display: contents;
}
.sign-up-text20 {
  display: inline-block;
}
.sign-up-fragment21 {
  display: contents;
}
.sign-up-text21 {
  display: inline-block;
}
.sign-up-fragment22 {
  display: contents;
}
.sign-up-text22 {
  display: inline-block;
}
.sign-up-fragment23 {
  display: contents;
}
.sign-up-text23 {
  display: inline-block;
}
.sign-up-fragment24 {
  display: contents;
}
.sign-up-text24 {
  display: inline-block;
}
.sign-up-fragment25 {
  display: contents;
}
.sign-up-text25 {
  display: inline-block;
}
.sign-up-fragment26 {
  display: contents;
}
.sign-up-text26 {
  display: inline-block;
}
.sign-up-fragment27 {
  display: contents;
}
.sign-up-text27 {
  display: inline-block;
}
.sign-up-fragment28 {
  display: contents;
}
.sign-up-text28 {
  display: inline-block;
}
